/* Copyright 2021 Oliver Smith
 * SPDX-License-Identifier: GPL-3.0-or-later */

@media (max-width: 700px) {
    /* Hack to prevent popups from flickering around. It looks like e.g. the
     * editBookmarkPanel has two heights otherwise, and draws one frame with a
     * short height and one frame with the proper one. */
    #mainPopupSet {
        position: fixed !important;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 100px;
    }

    /* Now that the navbar is at the bottom, we need to set an offset to have
     * the notifications (like the one for installing addons) displayed
     * on-screen. */
    #notification-popup {
        margin-left: -200px !important;
        margin-top: -500px !important;
    }

    #downloadsPanel-mainView {
        max-width: calc(100vw - 10px);
    }
}
